<%- include("../includes/head.ejs") %> <%- include("../nav.ejs") %>
<div class="feedbackBox">
  <h1>password reset link is send to your email address.</h1>
  <p class="feedbacks">Check your inbox</p>
  <p class="feedback">Or</p>
  <div class="links">
    <a href="/">Go back home</a>
    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
      >Click here
    </a>
  </div>
</div>
<%- include("../includes/foot.ejs") %>
