<%-include("./includes/head.ejs") %>
<nav>
  <div class="home">
    <a href="/"> Blog </a>
  </div>
  <div class="items">
    <% if (isLogin ) { %>
    <form action="/logout" method="post">
      <button class="deleteBtn">Log Out</button>
    </form>
    <% } else {%>
    <button class="deleteBtn">
      <a href="/login">Create Account</a>
    </button>
    <% } %>
  </div>
</nav>

<%-include("./includes/foot.ejs") %>
