<%-include("./includes/head.ejs") %>
<nav>
  <div class="home">
    <a href="/"> Blog </a>
  </div>
  <div class="items">
    <% if (isLogin ) { %>
    <form action="/logout" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <button>Log Out</button>
    </form>
    <% } else {%>
    <div class="auth">
      <a href="/register">Register </a>
      <a href="/login">Login </a>
    </div>
    <% } %>
  </div>
</nav>

<%-include("./includes/foot.ejs") %>
