* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: auto;
  background-color: beige;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 20px;
  margin-bottom: 10px;
}

nav .home a {
  background-color: bisque;
  color: black;
  border-radius: none;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}
nav .items a {
  background-color: bisque;
  color: black;
  border-radius: none;
  padding: 0;
  padding-right: 10px;
  font-size: 20px;
}
nav .items a:hover {
  color: crimson;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding-block: 10px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: bisque;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
.form label {
  font-size: 18px;
}
.form input,
.form textarea {
  width: 100%;
  margin-block: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: beige;
}

.form .createBtn {
  text-align: end;
  padding-block: 5px;
}

.form button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-block: 15px;
}
.btn a {
  text-decoration: none;
  font-size: 18px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.card {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}
.post-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-title {
  font-size: 25px;
  font-weight: bold;
  padding-block: 10px;
  text-transform: uppercase;
}

.post-des {
  text-align: justify;
}

.detail-box {
  border: 1px solid black;
  padding: 10px;
  margin-block: 15px;
  border-radius: 10px;
}

.detail-box img {
  width: 100%;
  object-fit: contain;
  height: 500px;
  margin-bottom: 10px;
}

.detail-titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-actionBar {
  display: flex;
  align-items: center;
  gap: 6px;
}
.deleteBtn {
  background-color: black;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
}
