<%- include("../includes/head.ejs") %>
<section class="premium">
  <div class="premium-card">
    <h2>IO PREMIUM</h2>
    <ul>
      <li>Can save post as PDF file</li>
      <li>Animate profile badge</li>
      <li>manage username limitlessly</li>
    </ul>
    <p class="bn632-hover bn25">Buy IO premium</p>
  </div>
</section>
<%- include("../includes/foot.ejs") %>
