<%- include("../includes/head.ejs") %>
<section>
  <h1 style="font-size: 3rem; font-weight: bold; margin-top: 5rem">
    Subscription Successful
  </h1>
  <p style="text-align: center">
    <a href="/profile">Back to Profile</a>
  </p>
</section>
<%- include("../includes/foot.ejs") %>
